<div id="login-page">
  <div class="login-wrapper">
    <p-messages></p-messages>

    <div class="grid full-page">
      <div class="col-6 login-fields">
        <div class="logo">
          <img src="../../assets/Vector.svg" alt="" />
        </div>

        <div class="login_txt">
          <span>Login</span>
        </div>

        <div class="formlogin">
        <form class="login" [formGroup]="myform">
          <div class="formgroup">
            <label class="labelName" for="">Email</label>
            <input class="inputBox"
              formControlName="email"
              type="text"
              pInputText
              ngModel
              placeholder="Email"
            />
            <div class="error-indicator" *ngIf="myform.controls['email'].invalid && myform.controls['email'].touched || myform.controls['email'].dirty">
              
              <span *ngIf="myform.controls['email'].errors?.['required']" class="errMsg">Email is required.</span>
              <span *ngIf="myform.controls['email'].errors?.['email']" class="errMsg">Invalid email format.</span>
            </div>
          </div>

         <div class="formgroup">
            <label class="labelName" for="">Password</label>
            <input
            class="inputBox"
              type="password"
              formControlName ="password"
              pInputText
              ngModel
              placeholder="Password"
            />

          </div>

           <div class="loginBtn">
            <p-button (click)="login()" >Login</p-button>
          </div>
        </form>

        <div class="forgot">
          <a routerLink="forgot-pwd"> <span> Forgot Password? </span> </a>
        </div>

        <div class="bot">
          <div class="signup"
            >Don't have an account? <a href="/signup">Sign up</a></div>
        </div>
        </div>

       

        <div class="Tandc">
          <span class="privacy-policy">
            By creating an account, you agree to our
            <a href=""> Terms of Service</a> and <a href=""> Privacy Policy.</a>
          </span>
        </div>
        <div class="copyright">
          <span class="copyrights">© 2022 NOQU. All rights reserved.</span>
        </div> 
      </div>

      <div class="col-6 loginpage-image">
        <img src="../../assets/Group 6 (1).png" alt="logo" />
      </div>
    </div>
  </div>
</div>
