<div id="login-page">
  <div class="login-wrapper">
    <div class="grid full-page">
      <div class="col-6 login-fields">
        
        <div class="logo">
          <img src="../../assets/Vector.svg" alt="" />
        </div>

     <div class="login_txt">
          <span>Create an Account </span>
        </div>

      <div class="formlogin">
        <form class="login" [formGroup]="myform">
          <div class="formgroup">
            <label class="labelName" for="">Name</label>
            <input class="inputBox" 
              formControlName="name"
              type="text"
              pInputText
              [(ngModel)]="name"
              placeholder="Name"
            />
            <div *ngIf="myform.controls['name'].invalid && myform.controls['name'].touched || myform.controls['name'].dirty">
              <div *ngIf="myform.controls['name'].errors?.['required']" class="errMsg">Name is required.</div>
              <div *ngIf="myform.controls['name'].errors?.['minlength']" class="errMsg">Use proper Name.</div>

              <!-- <div *ngIf="myform.controls['name'].errors?.['required']" class="errMsg">Name is required.</div>
              <div *ngIf="myform.controls['name'].hasError.['minLength']" class="errMsg">Use proper Name.</div>
              <div *ngIf="myform.controls['name'].errors?.['email']" class="errMsg">Invalid email format.</div> -->
          </div>

         <div class="formgroup">
            <label class="labelName" for="">Email</label>
            <input
            class="inputBox"
              type="text"
              pInputText
              formControlName="email"
              [(ngModel)]="email"
              placeholder="Email"
            />
            <div *ngIf="myform.controls['email'].invalid && myform.controls['email'].touched || myform.controls['email'].dirty">
              
              <div *ngIf="myform.controls['email'].errors?.['required']" class="errMsg">Email is required.</div>
              <div *ngIf="myform.controls['email'].errors?.['email']" class="errMsg">Invalid email format.</div>
          </div>

          <div class="formgroup">
            <label class="labelName" for="">Password</label>
            <input
            class="inputBox"
              type="password" 
              formControlName="password"
              pInputText
              [(ngModel)]="password"
              placeholder="Password"
            />
          </div>

           <div class="loginBtn">
            <p-button (click)="submit(myform.value)">Submit</p-button>
          </div>
        </div>
        </div>
        </form>

         <div class="bot">
          <div class="signup"
            >Don't have an account? <a href="/signup">Sign up</a></div>
        </div>
        </div> 

       

        <div class="Tandc">
          <span class="privacy-policy">
            By creating an account, you agree to our
            <a href=""> Terms of Service</a> and <a href=""> Privacy Policy.</a>
          </span>
        </div>
        <div class="copyright">
          <span class="copyrights">© 2022 NOQU. All rights reserved.</span>
        </div>
        <!-- {{myform.value |json}} -->
      </div>  

      <div class="col-6 loginpage-image">
        <img src="../../assets/Group 6 (1).png" alt="logo" />
      </div>
    </div>
  </div>
</div>
